<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>550058539961-0if9s6nghje16bir3ck9cmjfi8t5fv31.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.550058539961-0if9s6nghje16bir3ck9cmjfi8t5fv31</string>
	<key>API_KEY</key>
	<string>AIzaSyAOgEDQ3eqEl5t79i6aExSWkZf9G5PyT3M</string>
	<key>GCM_SENDER_ID</key>
	<string>550058539961</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tracker</string>
	<key>PROJECT_ID</key>
	<string>golog-f6c2a</string>
	<key>STORAGE_BUCKET</key>
	<string>golog-f6c2a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:550058539961:ios:db0a64d8baacf12d445468</string>
</dict>
</plist>